@import url("./globals.css");

/* CARROSSEL */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel section {
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 25px;
  transition: color 0.2s ease, transform 0.2s ease;
}

.carousel-button:hover {
  transition-delay: 0.5s;
  background: #e2e2e2;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

button {
  padding: 6px 10px 14px 8px;
  border: none;
  background: none;
  color: var(--second-color);
}

button:hover {
  color: var(--primary-color);
}

/* CONFIG GLOBAL */

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 0 5%;
}

h3,
p {
  font-family: var(--font-nunito);
  font-size: 18px;
  margin-bottom: 0;
}

h2,
h1 {
  font-family: var(--font-inter);
  font-size: 26px;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #e9e9e9 !important;
}

.navbar > .container-fluid {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 6em;
  padding: 0 5%;
  transition: height 0.1s ease-in-out;
}

.navbar.shrink > .container-fluid {
  height: 4.5em;
}

.menu_pagina {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-family: var(--font-inter);
  color: var(--font-color-header);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

#logo-dissulba-preta {
  transition: width 0.3s ease;
}

#logo-dissulba-preta.shrink {
  width: 80%;
}

/* SECTION HOME */

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  size: cover;
}

.mosaico_sobreposto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("/assets/images/background/mosaico_cinzapreto.png");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  color: var(--second-color);
}

.home_logo {
  width: 50%;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
}

.logo_dissulba {
  width: 50%;
}

.home .descricao_texto {
  width: 85%;
  z-index: 2;
  text-align: justify;
}

.btn_flutuante {
  position: absolute;
  bottom: 25px;
  border-radius: 25px;
}

.btn_flutuante i {
  margin-left: 8px;
  font-size: 2.5em;
  color: var(--primary-color);
  transition: color 0.2s ease, transform 0.2s ease;
}

.btn_flutuante i:hover {
  transition-delay: 0.5s;
  transform: scale(1.1);
  color: #fafafa;
}

/* SECTION HOME FIRST TIP */

.hands {
  animation: float 3s ease-in-out infinite;
  height: 20%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.first-tip {
  background-color: var(--second-color);
  color: var(--primary-color);
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container_first-tip {
  height: 100%;
  padding: 8em 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1.titulo-first-tip {
  text-align: center;
  margin-bottom: 0;
}

.descricao-first-tip {
  text-align: center;
}

.contacts-logo-first-tip {
  display: flex;
  gap: 2em;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-text.icon-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

p.icon-text.number {
  margin: 0;
}

.forms {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
}

.form {
  position: absolute;
  width: 25em;
  height: 25em;
  background-color: transparent;
  border: 4em solid transparent;
  border-radius: 360px;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, #03619d, #00a2ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.form.one {
  left: -10vw;
}

.form.two {
  right: -10%;
}

/* SECTION HOME SECOND TIP */

.second-tip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  overflow: hidden;
  flex-direction: column;
  z-index: 0;
  padding: 5%;
  gap: 50px;
}

h1 {
  margin-bottom: 0;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title_second_tip {
  color: var(--primary-color);
  display: flex;
  height: 15%;
  position: relative;
  text-align: center;
  align-items: center;
}

.card_tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 11em;
  height: 15em;
  color: var(--second-color);
  background: var(--primary-color);
  transition: 0.5s;
  border-radius: 0 0 25px 0;
  margin: 0 -60px;
}

.card_tip::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #007dca;
  border-radius: 0 25px 0 0;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.card_tip::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 50%;
  background: #007dca;
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
  border-bottom: 15em solid #007dca;
}

.card_tip:hover {
  transform: translateY(-40px);
  /*transform: skewY(-5deg);*/
}

.second-tip h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
}

.second-tip .content,
.imgBX {
  display: flex;
  width: 85%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.second-tip .imgBX {
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: var(--primary-color);
  border-radius: 0 0 25px 0;
}

.container .card_tip .imgBX::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15em;
  border-radius: 0 0 25px 0;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.container .card_tip:hover .imgBX::before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 6;
}

.container .card_tip:nth-child(1) {
  z-index: 6;
}

.container .card_tip:nth-child(2) {
  z-index: 5;
}

.container .card_tip:nth-child(3) {
  z-index: 4;
}

.container .card_tip:nth-child(4) {
  z-index: 3;
}

.container .card_tip:nth-child(5) {
  z-index: 2;
}

.container .card_tip:nth-child(6) {
  z-index: 1;
}

.imgBX img {
  width: 70%;
}

/* SECTION SOBRE E AREA */

.logo_nestle_sobre {
  position: absolute;
  height: 70%;
}

.video_institucional,
.map {
  width: 50%;
}

.sobre {
  background-image: url("../images/logos/logo_nestlé.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sobre,
.area {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--second-colorcolor);
  color: var(--primary-color);
}

.apresentacao_dissulba.texto_sobre {
  height: 23em;
  width: 28em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}

.descricao_titulo {
  text-align: initial;
  z-index: 2;
}

iframe {
  width: 100%;
  height: 25vw;
  border-radius: 15px;
  border-style: none;
  z-index: 2;
}

/* AREA */

.area {
  background-image: url("../images/background/armazem_blur.jpg");
  background-size: cover;
  color: var(--second-color);
}

.fundo_armazem {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* SECTION COMPROMISSOS */

.compromissos {
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--second-color);
  padding-top: 3em;
  background-image: url("../images/background/mosaico_azulbranco.png");
  background-size: auto;
  background-position: -40px 10.5%;
}

.compromissos_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.cards {
  width: 20em;
  height: 25em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cards .descricao_texto {
  text-align: center;
}

.cards .descricao_titulo {
  margin: 1em 0 1em 0;
}

.cards i {
  font-size: 6.5em;
}

.visao {
  margin: 0 0 8em;
}

/* SECTION PRODUTOS */

.produtos .arrow {
  width: 10.5em;
  animation: vibrate 3.5s infinite;
}

@keyframes vibrate {
  0%,
  90% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(1px);
  }
  70% {
    transform: translateX(-0.5px);
  }
  80% {
    transform: translateX(0.5px);
  }
}

.produtos {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--primary-color);
  padding: 0;
}

.produtos_descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legenda {
  text-align: center;
  font-size: 1.5em;
}

.instrucao_carrossel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  gap: 1em;
  position: relative;
  bottom: 50px;
}

.produtos_descricao i {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.descricao_texto.legenda {
  text-align: center;
}

/* SWIPER */

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide,
.swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

/* RODAPÉ */

.rodape {
  width: 100%;
  background-color: var(--footer-color);
  background-image: url(../images/background/mosaicoazulbranco2.svg);
  background-position: center top;
  background-size: cover;
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 60px solid var(--primary-color);
}

.rodape h2 {
  font-size: 22px;
  margin-bottom: 1em;
}

.rodape_conteudo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 80px;
  gap: 90px;
  text-align: center;
}

.conteudo_footer {
  width: 20em;
  height: 18em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.icon_info {
  display: flex;
  align-items: baseline;
  gap: 20px;
  justify-content: center;
}

p.descricao_texto.endereco {
  text-align: justify;
}

.fa-location-dot:before,
.fa-map-marker-alt:before {
  content: "\f3c5";
  padding: 0 3px 0 3px;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--second-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 15px;
  border: 3px solid var(--second-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #009dff;
}

body {
  scrollbar-color: var(--primary-color) var(--second-color);
  scrollbar-width: thin;
}

@media (max-width: 1440px) {
  .second-tip .content {
    height: 100%;
    background: var(--primary-color);
  }

  .second-tip h3 {
    font-size: 14px;
  }

  .card_tip {
    height: 12em;
    width: 9em;
    margin: 15px;
  }

  .card_tip::after {
    border-bottom: 12em solid #007dca;
  }
}

@media (max-width: 1280px) {
  .menu_pagina {
    display: none;
  }

  .d-xl-none {
    display: flex !important;
  }

  .offcanvas.show:not(hiding) {
    width: 40%;
  }

  /* HOME */
  .home {
    flex-direction: column;
    justify-content: center;
    gap: 3em;
  }

  .home_logo {
    width: 60%;
    justify-content: center;
  }

  .home .descricao_texto {
    margin: 0;
    width: 80%;
  }

  /* FIRST TIP */

  .form {
    width: 18em;
    height: 18em;
  }

  /* SOBRE */

  .sobre,
  .area {
    height: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
    padding: 10px 5%;
  }

  .apresentacao_dissulba.texto_sobre {
    width: 60%;
  }

  .video_institucional,
  .map {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 100%;
    height: 25vw;
  }

  .compromissos {
    height: 100%;
    padding: 3em 0;
  }
  .compromissos_cards {
    flex-direction: column;
  }

  h2.descricao_titulo {
    padding: 0;
  }

  .visao {
    margin: 0;
  }

  .rodape_conteudo {
    flex-direction: column;
    gap: 3em;
  }

  .conteudo_footer.logo {
    align-items: center;
  }

  .conteudo_footer {
    padding: 0;
    height: auto;
  }

  .rodape h2.descricao_titulo {
    padding: 0;
    margin: 0;
  }

  .rodape_titulo {
    padding: 1.5em 0;
    text-align: center;
  }

  .carousel-wrapper {
    position: relative;
  }

  /* SECOND TIP */

  .second-tip h3 {
    font-size: 12px;
  }

  .card_tip {
    height: 10em;
    width: 8em;
    margin: 15px;
  }

  .card_tip::after {
    border-bottom: 10em solid #007dca;
  }
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .compromissos_titulo {
    padding-bottom: 1em;
  }
}

@media (max-width: 800px) {
  .second-tip {
    gap: 20px;
  }

  .card_tip {
    height: 11em;
    width: 9em;
  }

  .container {
    max-width: none;
  }

  .card_tip::after {
    border-bottom: 11em solid #007dca;
  }

  .navbar > .container-fluid {
    height: 4em;
  }

  .second-tip {
    padding: 0 5% 8% 5%;
  }
}

@media (max-width: 768px) {
  #logo-dissulba-preta {
    width: 7em;
  }

  .offcanvas.show:not(hiding) {
    width: 45%;
  }

  .form {
    width: 14em;
    height: 14em;
    border: 2em solid transparent;
  }

  .form.one {
    left: -30vw;
  }

  .form.two {
    right: -30vw;
  }

  .carousel-wrapper {
    width: 100%;
  }

  .swiper-container {
    padding: 0;
  }

  .logo_dissulba {
    width: 65%;
  }

  .mapa {
    height: 60vw;
  }

  .descricao_texto.legenda {
    width: 70%;
    font-size: 20px;
  }
}

@media (max-width: 660px) {
  .second-tip {
    gap: 5%;
    align-items: center;
    justify-content: center;
  }

  .second-tip .content {
    width: 100%;
  }

  .container {
    width: 60%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 0;
    gap: 13% 20%;
  }

  .title_second_tip {
    top: 0;
  }

  .card_tip {
    margin: 0;
    height: 8em;
    width: 7em;
  }

  .card_tip::after {
    border-bottom: 8em solid #007dca;
  }

  .second-tip h3 {
    font-size: 10px;
  }

  .imgBX img {
    width: 50%;
  }

  .carousel-payments {
    display: flex;
    gap: 20px;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: translateZ(-300px) rotateY(0deg);
    transition: transform 1s;
  }
}

@media (max-width: 490px) {
  .first-tip {
    padding: 4% 5%;
  }

  p {
    font-size: 16px;
  }

  h2 {
    font-size: 22px;
  }

  .hands {
    height: 110px;
  }

  .navbar > .container-fluid {
    height: 5em;
  }

  #logo-dissulba-preta {
    height: 3em;
  }

  .home {
    background-position-x: 60%;
  }

  .sobre,
  .area {
    align-content: center;
    gap: 3em;
    padding-bottom: 30px;
  }

  .video_institucional,
  .map {
    width: 75%;
  }

  iframe {
    width: 100%;
    height: 40vw;
  }

  .apresentacao_dissulba.texto_sobre {
    width: 75%;
    gap: 5%;
  }

  .mapa {
    height: 90vw;
  }

  .logo {
    display: none;
  }

  .cards {
    width: 70%;
    height: 25em;
    padding: 0 15px;
  }

  .cards.missao {
    padding: 10px 15px;
  }

  .cards i {
    font-size: 4.5;
  }

  .compromissos_titulo {
    padding-bottom: 30px;
  }

  .compromissos_cards {
    gap: 50px;
  }

  .contacts-logo-first-tip {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .card_tip {
    height: 7em;
    width: 5em;
  }

  .btn_flutuante {
    display: none;
  }

  .card_tip::after {
    border-bottom: 7em solid #007dca;
  }

  .second-tip h3 {
    font-size: 8px;
  }

  .imgBX img {
    width: 85%;
  }
}

@media (max-width: 380px) {
  #logo-dissulba-preta {
    height: 2em;
  }

  .logo_dissulba.branca {
    width: 80%;
  }

  .conteudo_footer {
    width: 80%;
    gap: 0;
  }

  .icon_info {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }

  .endereco {
    text-align: justify;
  }
}

@media (max-width: 350px) {
  .offcanvas.show:not(hiding) {
    width: 60%;
  }

  .navbar-nav {
    gap: 15px;
  }

  .rodape h2 {
    font-size: 18px;
  }

  .icon_info p {
    font-size: 14px;
  }

  .cards {
    width: 70%;
    height: 30em;
    padding: 0 15px;
    justify-content: center;
    gap: 2em;
  }

  #logo-dissulba-preta.shrink {
    width: 80%;
  }

  .form.one {
    left: 85vw;
  }

  .form.two {
    right: 85vw;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .title_second_tip {
    top: 15px;
  }
}
